/* card white */

.card.white .foreground {
    background-color: white;
}

.card.white .background,
.card.contacts .background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.white .background {
    transform: rotateY(-180deg);
}

.card.white:hover .foreground {
    transform: rotateY(180deg);
}

.card.white:hover .background {
    transform: rotateY(0);
}

/* card green */

.card.green .foreground {
    background-color: green;
    color: white;
    font-size: var(--card-font-size);
}

.card.green:hover .background {
    transform: rotateY(-720deg);
}

.card.green:hover .foreground {
    transform: rotateY(-180deg);
}

/* card yellow */

.card.yellow .foreground {
    background-color: yellow;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    font-size: var(--card-font-size);
    box-sizing: border-box;
    font-weight: 900;
}

.card.yellow:hover .foreground {
    transform: rotateY(180deg);
}

.card.yellow:hover .background {
    transform: rotateY(360deg);
}

/* card red */

.card.red .foreground {
    background-color: red;
    color: white;
    font-size: 2em;
}

.card.red:hover .foreground {
    transform: translateY(-50%) scaleY(0);
    transition-duration: 0.2s;
}

/* card aqua */

.card.aqua .foreground {
    background-color: #69F;
    font-size: var(--card-font-size);
    font-style: italic;
}

.card.aqua:hover .foreground {
    transform: translateX(50%) translateY(-50%) scale(0);
    transition-duration: 0.3s;
}

/* card violet */

.card.violet .foreground {
    background-color: #44B;
    color: white;
    font-size: var(--card-font-size);
}

.card.violet:hover .foreground {
    transform: translateX(50%) translateY(50%) scale(0);
    transition-duration: 0.2s;
}

/* card events */

.card.events .foreground {
    background-color: #0AF;
    color: white;
}

.card.events:hover .foreground,
.card.blog:hover .foreground {
    transform: translateX(50%) scaleX(0);
    transition-duration: 0.1s;
}

/* card blog */

.card.blog .foreground {
    background-color: #00F;
    color: white;
}

/* card contacts */

.card.contacts .foreground {
    background-color: #00A;
    color: white;
}

.card.contacts:hover .foreground {
    transform: translateX(-50%) scaleX(0);
    transition-duration: 0.1s;
}
