:root {
    --margin-main: 10%;
    --header-height: 10%;
    --card-font-size: 4em;
    --card-bg-font-size: 1vw;
}

body {
    background-color: #F9F9F9;
    height: max-content;
}

html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
    text-align: center;
}

footer {
    margin-bottom: 10px;
}

@media all and (max-width: 960px) {
    :root {
        --margin-main: 5%;
        --card-font-size: 2em;
        --card-bg-font-size: 2vw;
    }
}
